 <link rel="stylesheet" href="/styles/admins.css">
 <div class="book">
    <p>Olá, meu nome é João e eu estou tentando ser um programador por isso estou no IFRO e pretendo concluir meus objetivos</p>
    <div class="cover">
        <img src="/imgs/joão gatão.jpeg" alt="">
    </div>
   </div>
    <div class="book">
    <p>Tenho 17 anos, nascido em espigão do oeste Ro,  desde pequeno sempre aficionado por tecnologia fez vários mini-cursos na cidade e aprendeu bastante por conta própria, hoje cursando técnico em informática no IFRO campus Cacoal busca dedicar sua vida a essa tecnologia que tanto ama.</p>
    <div class="cover">
        <img src="/imgs/marquin de cria.jpg" alt="">
    </div>
   </div>
   </div>
    <div class="book">
    <p>Meu nome é Raissa Rafalski  Teixeira, tenho 17 anos, estudo no Instituto Federal de Rondônia campus cacoal, nasci em cacoal Rondônia, que atualmente é onde moro ainda com meus pais.</p>
    <div class="cover">
        <img src="/imgs/raissa.jpg" alt="">
    </div>
   </div>
   <div class="book">
    <p>Gabriely Elisa Perrude
<br>
<br>
Tenho 17 anos, natural de Cacoal - Rondônia, católica e acólita.
Gosto de descobrir coisas novas e sou apaixonada por legislação.</p>
    <div class="cover">
        <img src="/imgs/gabi.jpg" alt="">
    </div>
   </div>








<div class="card">
    <div class="content">
        <h1>
                Quem somos?
        </h1>
        <hr>
        <h5>
                Somos uma equipe de amigos que estão... Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident, voluptates quaerat odio quidem sunt nemo minus similique iusto distinctio quisquam harum aperiam earum accusantium exercitationem! Cupiditate voluptates rerum hic vero.
        </h5>
    </div>
</div>