<link rel="stylesheet" href="/styles/main.css">
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-bmOKOHG/BmW4Yf9+pGVjKQF1f/QTPlccq3zFMwGmsncNdnE+7LOPpYKb9IQV1ILUjx6Uz/LpIKyTB6UzChF2CA==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link rel="stylesheet" href="style.css">
    <title>CAROUSEL</title>
</head>
<body>
    <div class="container">
        <h1>Destacados</h1>
        <button class="arrow-left control" aria-label="Previous image"><</button>

        <button class="arrow-right control" aria-label="next image">></button>
        <div class="galery-wrapper">
            <div class="galery">
               <div class="box">
                  <img src="imgs/cafe &  machine.jpg" alt="Maquina de cafe" class="item current-item">                  
                <div class="description ativo">
                    <h4>Maquina de café industrial + brinde</h4>
                    <p>
                        Maquina de café eletrica duas saidas mais um pacote de brinde
                    </p>
                    <h5 class="preco">R$ 650,58</h5>
                    <a href=""><button type="button">       <span class="text">
                        <ion-icon name="cart-outline"></ion-icon>
                    </span>   
                    <span class="secret">
                        <ion-icon name="cart-outline"></ion-icon>
                        Adicionar ao carrinho
                    </span>  
                    </button></a>
                </div>
               </div>
               <div class="box">
                    <img src="imgs/café brasileiro.png" alt="Maquina de cafe" class="item ">
                                            <div class="description">
                                                <h4>Café Brasileiro extraforte</h4>
                                                <p>Café Brasileiro torrado 250 g</p>
                                                <h5>R$ 23,58</h5>
                                                <a href=""><button type="button"> <span class="text"> Adicionar ao carrinho </span>         <span class="icon"> </span></button></a>
                            
                    </div>
               </div>
               <div class="box">
                    <img src="imgs/cafe machine.jpg" alt="Maquina de cafe" class="item ">
                <div class="description">
                    <h4>
                        Cafeteira Gourmet P3R3
                    </h4>
                    <p>
                        Cafeteira Nespresso Gourmet 2 Saídas P3R3
                    </p>
                    <h5>
                        R$ 350,99
                    </h5>
                    <a href="#"><button><span class="text">
                         Adicionar ao Carrinho
                    </span></button></a>
                </div>
               </div>
               <div class="box">
                    <img src="imgs/exemplo.jpg" alt="Maquina de cafe" class="item ">
                <div class="description">
                        <h4>
                            Café Tradicional Robusta
                        </h4>
                        <p>
                            Café Tradicional Torrado na Hora Robusta 150ml
                        </p>
                        <h5>
                            R$ 5,00
                        </h5>
                        <a href="#"><button><span class="text">
                             Adicionar ao Carrinho
                        </span></button></a>
                    </div>
               </div>
                <div class="box">
                    <img src="imgs/café.png" alt="Maquina de cafe" class="item ">
                <div class="description">
                        <h4>
                            Café Tradicional Robusta
                        </h4>
                        <p>
                            Café Tradicional Torrado na Hora Robusta 150ml
                        </p>
                        <h5>
                            R$ 5,00
                        </h5>
                        <a href="#"><button><span class="text">
                             Adicionar ao Carrinho
                        </span></button></a>
                    </div>
               </div>

            </div>
        </div>
    </div>
        <div class="container">
        <h1>Para o final de semana</h1>
        <button class="arrow-left control" aria-label="Previous image"><</button>

        <button class="arrow-right control" aria-label="next image">></button>
        <div class="galery-wrapper">
            <div class="galery">
               <div class="box">
                  <img src="imgs/cafe &  machine.jpg" alt="Maquina de cafe" class="item current-item">                  
                <div class="description ativo">
                    <h4>Maquina de café industrial + brinde</h4>
                    <p>
                        Maquina de café eletrica duas saidas mais um pacote de brinde
                    </p>
                    <h5>R$ 650,58</h5>
                    <a href=""><button type="button">       <span class="text">
                        Adicionar ao carrinho
                    </pan>             <span class="icon">

                    </span></button></a>
                </div>
               </div>
               <div class="box">
                    <img src="imgs/café brasileiro.png" alt="Maquina de cafe" class="item ">
                                            <div class="description">
                                                <h4>Café Brasileiro extraforte</h4>
                                                <p>Café Brasileiro torrado 250 g</p>
                                                <h5>R$ 23,58</h5>
                                                <a href=""><button type="button"> <span class="text"> Adicionar ao carrinho </span>         <span class="icon"> </span></button></a>
                            
                    </div>
               </div>
               <div class="box">
                    <img src="imgs/cafe machine.jpg" alt="Maquina de cafe" class="item ">
                <div class="description">
                    <h4>
                        Cafeteira Gourmet P3R3
                    </h4>
                    <p>
                        Cafeteira Nespresso Gourmet 2 Saídas P3R3
                    </p>
                    <h5>
                        R$ 350,99
                    </h5>
                    <a href="#"><button><span class="text">
                         Adicionar ao Carrinho
                    </span></button></a>
                </div>
               </div>
               <div class="box">
                    <img src="imgs/exemplo.jpg" alt="Maquina de cafe" class="item ">
                <div class="description">
                        <h4>
                            Café Tradicional Robusta
                        </h4>
                        <p>
                            Café Tradicional Torrado na Hora Robusta 150ml
                        </p>
                        <h5>
                            R$ 5,00
                        </h5>
                        <a href="#"><button><span class="text">
                             Adicionar ao Carrinho
                        </span></button></a>
                    </div>
               </div>

            </div>
        </div>
    </div>
    <script src="https://kit.fontawesome.com/65f22fe718.js" crossorigin="anonymous"></script>

<script>
const controls = document.querySelectorAll(".control")
const boxes = document.querySelectorAll(".box")
let currentItem= 0 
const des = document.querySelectorAll(".description")
const itens = document.querySelectorAll(".item")
const maxItens= itens.length

controls.forEach(control =>{
    control.addEventListener("click", ()=>{
        const isLeft = control.classList.contains("arrow-left")
        
        if(isLeft){
            currentItem-=1
        }else{
            currentItem+=1
        }
        if(currentItem >=maxItens){
            currentItem = 0
        }
        if(currentItem  <0){
            currentItem= maxItens -1
        }
        itens.forEach(item =>item.classList.remove("current-item"))
        itens[currentItem].scrollIntoView({
            inline: "center",
            behavior: "smooth",
            block: "nearest"
        })
        itens[currentItem].classList.add("current-item")

        des.forEach(desc =>desc.classList.remove("ativo"))
        
        des[currentItem].classList.add("ativo")
    })    
})
itens.forEach(item=>{
    item.addEventListener("mouseover", ()=>{

        item.classList.add("current-item")
    })
})
itens.forEach(item=>{
    item.addEventListener("mouseout", ()=>{
        des.forEach(desc =>desc.classList.remove("ativo"))

        item.classList.remove("current-item")
    })
})
boxes.forEach(box=>{box.addEventListener("mouseover", ()=>{
    des.forEach(desc=> desc.classList.add("ativo"))
})
})
boxes.forEach(box=>{box.addEventListener("mouseout", ()=>{ 
    des.forEach(desc=> desc.classList.remove("ativo"))
}) 
})
</script>

</body>
</html>