<link rel="stylesheet" href="/styles/obout.css">


<img src="/imgs/coffee place.png" alt="">


<div class="enterprise">
    <h1>
        Coffee Place
    </h1>
    <h4>
        Empresa voltada ao café regional de Rondônia com foco em ajudar os produtores
    </h4>
    <p>
        Nós estamos desenvolvendo um E-commerce para a revenda de café regional de Rondônia com foco em pequenos produtores.
    </p>
    <h5>
        Entre em contato
    </h5>
    <div class="contact">
        <p>
            <ion-icon name="call-outline"></ion-icon>Tel: (69) 99781384   
        </p>
            <a  href="#">
                <span class="icon">
                    <ion-icon name="mail-outline"></ion-icon>
                </span>
                <a href="https://mail.google.com/mail/?view=cm&to=joaopleseux@gmail.com">
                    <span class="text">Fale conosco por  Email</span>
                </a>
            </a>
           <div class="hub">
             <ion-icon name="logo-github"></ion-icon>
             <a target="_blank" href="https://github.com/Jpleseux"><span class="text">GitHub</span></a>
            {{!--  --}}
           </div>
        {{!-- <a target="_blank" href="https://mail.google.com/mail/?view=cm&to=joaopleseux@gmail.com">joaopleseux@gmail.com</a> --}}

    </div>
</div>