     <link rel="stylesheet" href="/styles/salesman.css">

<div class="pale">
    <div class="picture">
        <img src="/imgs/user.png" alt="usuario">
        <h2>
            José Reinaldo Alencar
        </h2>
        <h4>
            Fazenda São José
        </h4>
        <p>
            <ion-icon name="call-outline"></ion-icon>Tel: (69) 99781384
        </p>
    </div>
    <div class="picture">
        <img src="/imgs/user.png" alt="usuario">
        <h2>
            José Reinaldo Alencar
        </h2>
        <h4>
            Fazenda São José
        </h4>
        <p>
            <ion-icon name="call-outline"></ion-icon>Tel: (69) 99781384
        </p>
    </div>
    <div class="picture">
        <img src="/imgs/user.png" alt="usuario">
        <h2>
            José Reinaldo Alencar
        </h2>
        <h4>
            Fazenda São José
        </h4>
        <p>
            <ion-icon name="call-outline"></ion-icon>Tel: (69) 99781384
        </p>
    </div>
    
</div>

     <link rel="stylesheet" href="/styles/salesman.css">

<div class="pale">
    <div class="picture">
        <img src="/imgs/user.png" alt="usuario">
        <h2>
            José Reinaldo Alencar
        </h2>
        <h4>
            Fazenda São José
        </h4>
        <p>
            <ion-icon name="call-outline"></ion-icon>Tel: (69) 99781384
        </p>
    </div>
    <div class="picture">
        <img src="/imgs/user.png" alt="usuario">
        <h2>
            José Reinaldo Alencar
        </h2>
        <h4>
            Fazenda São José
        </h4>
        <p>
            <ion-icon name="call-outline"></ion-icon>Tel: (69) 99781384
        </p>
    </div>
    <div class="picture">
        <img src="/imgs/user.png" alt="usuario">
        <h2>
            José Reinaldo Alencar
        </h2>
        <h4>
            Fazenda São José
        </h4>
        <p>
            <ion-icon name="call-outline"></ion-icon>Tel: (69) 99781384
        </p>
    </div>
    
</div>


